<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>What's Cookin?</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Open+Sans:400,700|Fredericka+the+Great" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
  </head>
  <body>
      <div class="main-content">
        <h1>What's Cookin?</h1>
        <h2>Find the perfect recipe!</h2>
        <form class="" action="/results" method="GET">
          <input class="input" type="text" name="search" placeholder="search for recipe">
          <input class="input ingredients" type="text" name="ingredients" placeholder="search for ingredients">
          <button class="button" type="submit" name="button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
  </body>
</html>
