<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Open+Sans:400,700|Fredericka+the+Great" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

  </head>

  <body>

    <div class="background">
      <div class="main-content">

        <h1>Recipe Finder</h1>
        <form class="" action="/results" method="GET">
          <input class="input" type="text" name="search" placeholder="pasta">
          <input class="input ingredients" type="text" name="ingredients" placeholder="garlic,penne,butter">
          <button class="button" type="submit" name="button">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <div class="grid-container">

            <% recipes["results"].forEach(function(recipe) { %>

              <div class="recipe-item">
                <img class="image" src="<%= recipe["thumbnail"] %>" onerror="this.src='https://images.pexels.com/photos/45187/cutlery-eat-cutlery-set-shiny-45187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940';">
                <div class="recipe">
                  <h2 class="title">
                    <a href="<%= recipe["href"] %>" target="_blank"><%= recipe["title"] %></a>
                  </h2>
                  <p class="ing">
                    <strong>Made with: </strong>
                    <%= recipe["ingredients"] %>
                  </p>
                </div>

              </div>

            <% }); %>

        </div>


      </div>
    </div>

  </body>
</html>
